class Dock < Formula
  include Language::Python::Virtualenv

  desc "Manage macOS Dock from YAML configuration"
  homepage "https://github.com/jamessawle/dock"
  PLACEHOLDER_URL_LINE
  PLACEHOLDER_SHA256_LINE
  license "MIT"
  PLACEHOLDER_HEAD_LINE

  depends_on "dockutil"
  depends_on "libyaml"
  depends_on "python@3.14"

  PLACEHOLDER_DEPENDENCIES_UPDATE_BEFORE_PUBLISHING

  def install
    virtualenv_install_with_resources

    # Install shell completions
    bash_completion.install "completions/dock.bash" => "dock"
    zsh_completion.install "completions/_dock"
  end

  test do
    # Test that the command is available and shows version
    assert_match "version", shell_output("#{bin}/dock --version")

    # Test that the command shows help
    assert_match "Manage macOS Dock", shell_output("#{bin}/dock --help")

    # Test validate command with a simple config
    (testpath/"test-config.yml").write <<~EOS
      apps:
        - Safari
      settings:
        autohide: false
    EOS

    assert_match "valid", shell_output("#{bin}/dock validate --file #{testpath}/test-config.yml")
  end
end
